/* IMPORTANT : Mise à jour de la feuille de style */
/* Lorsque le site accédé par 127.0.0.1:5000 (via flask) les fichiers statics
sont gardés en cache. Donc si on modifie la feuille de style, il ne se passe rien ...
Pour contourner le problème, il suffit de faire (sous chrome) CRL + SHIFT + R pour
forcer le rechargement des fichiers statics */



/* Palette */
*{
	--blackcst: #1E1E24;
	--whitecst: #F5F5F5;
	--bluecst: #0091AD;
	--darkbluecst: #00667a;
	--lightgreycst: #d3d3d3;
	--darkgreycst: #989898;
	--redcst: #C78283;
	--greencst:#21A179;

	font-family: RRegular, arial;
}

header{
	background-color: var(--bluecst);
}

/* Mise en forme du logo en haut de page */
.logo_page {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

/* Menu de navigation principal*/

#navigation{
	display: flex;
	justify-content: space-between;
	background-color: var(--bluecst);
}

nav.menu-nav {
	display: block;
	background-color: var(--bluecst);
	text-align: left;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

nav.menu-nav-right {
	display: block;
	background-color: var(--bluecst);
	text-align: right;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
}


/* Colle le menu à la bannière */
nav.menu-nav ul, nav.menu-nav-right ul{
	padding: 0;
	margin:0;
}
	/* Accueil et Aide */
nav.menu-nav ul li.btn { 
	display: inline-block;
	list-style: none;
	padding: 10px;
}

	/* Mes affaires */
nav.menu-nav-right ul li.btn { 
	display: inline-block;
	list-style: none;
	padding: 10px;
}


nav.menu-nav ul li.btn a, nav.menu-nav-right ul li.btn a {
	color: var(--whitecst);
	text-decoration: none;
	background-color: var(--bluecst);
	padding: 10px;
	border-radius: 10%;
}

nav.menu-nav ul li.btn:hover a, nav.menu-nav-right ul li.btn:hover a {
	color: var(--whitecst);
	background-color: var(--darkbluecst);
	transition: 0.3s all;
}

	/* Connexion */
nav.menu-nav-right ul li.btn-right-conn, li.btn-right-deco {
	display: inline-block;
	list-style: none;
	padding: 10px;
	background-color: var(--bluecst);
}

    /* Style des buttons connecté et déconnectés */
    /* Caractéristiques communes aux deux boutons*/
nav.menu-nav-right ul li.btn-right-conn a, li.btn-right-deco a {
	color: var(--whitecst);
	text-decoration: none;
	/*background-color: var(--greencst);*/
	padding: 10px;
	border-radius: 10%;
}

nav.menu-nav-right ul li.btn-right-conn:hover a, li.btn-right-deco:hover a {
	color: var(--whitecst);
	background-color: var(--darkbluecst);
	transition: 0.3s all;
}
	/* Différence entre les boutons*/
nav.menu-nav-right ul li.btn-right-conn a {
	background-color: var(--greencst);
}

nav.menu-nav-right ul li.btn-right-deco a {
	background-color: var(--redcst);
}

/*Menu navigation manager*/

nav.menu-nav-manager {
	text-align: center;
}

.dropdownmenu {
    background-color: var(--darkbluecst);
}
/* Suppression des puces et des marges pour les listes du menu et des sous-menus */ 
.dropdownmenu,
.dropdownmenu ul {
    list-style-type: none; 
    margin: 0px;
    margin-bottom: 30px;
    padding: 0px;
} 

.dropdownmenu ul { /* Masquage des sous-menu par defaut */
    display: none;
}
.dropdownmenu li {
    /* Disposition horizontale des elements de menu */
    display: inline-block;
    /* Positionnement relative des elements de menu pour pouvoir    positionner les sous-menu correctement en absolu */
    position: relative;
}
.dropdownmenu a {
    /* On transforme les liens en bloc pour pouvoir les dimensionner */
    display: block;
    /* Dimensions des liens */ 
    width: 200px; 
    height: 30px; 
    line-height: 30px; 
    /* Doit etre equivalent a la hauteur du menu pour centrer le texte verticalement */
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;

}
.dropdownmenu li:hover ul {
    /* Affichage du soumenu au survol */
    display: block;
    /* Positionnement du sous-menu */ 
    position: absolute; 
    top: 36px; /* Hauteur du menu + hauteur du padding top et bottom : 30 + 3 + 3 = 36 */ 
    left: 0px; /* Decalage du sous-menu par rapport aux liens du menu*/ 
    z-index: 100; /* Gestion de la superposition des sous-menus par rapport au reste de la page */ 
}
.dropdownmenu ul a { 
    /* Changement de l'affichage des liens des sous-menus pour ne pas les afficher en inline-block comme les liens de menu, ils seront donc verticaux */
    display: block;
}
/* Gestion des couleurs */
.dropdownmenu li { 
    background-color: var(--darkbluecst); /* Couleur d'arriere-plan du menu */
}
.dropdownmenu li a { 
    color: var(--whitecst); /* Couleur du texte du menu */ 
}
.dropdownmenu li:hover {
    background-color: var(--bluecst); /* Couleur d'arriere-plan du menu au survol */
}
.dropdownmenu li:hover a {
    color: #fff; /* Couleur du texte du menu au survol */ 
}
.dropdownmenu ul li { 
    background-color: var(--bluecst); /* Couleur d'arriere-plan des sous-menu */ 
}
.dropdownmenu ul li:hover {
    background-color: var(--darkbluecst) ; /* Couleur d'arriere-plan des sous-menu au survol */ 
}
.dropdownmenu ul li a {
    color: var(--whitecst); /* Couleur du texte des sous-menu */ 
}
.dropdownmenu ul li:hover a {
    color: var(--whitecst); /* Couleur du texte des sous-menu au survol */
}


/* Polices */
@font-face {
	font-family: 'RBlack';
	src : url('fonts/Raleway-Blak.ttf'); /* dans syles/fonts */

	font-family: 'RRegular';
	src : url('fonts/Raleway-Regular.ttf');
}

body{
	background-color: var(--whitecst) ;
	font-size: 1.2em;
}


/* Titres */

h1{
	width: 95%;
	margin-top:30px;
	margin-bottom: auto;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	color : var(--whitecst);
	font-size: 1.2em;
	font-family: RBlack, arial;
	text-decoration: none;
	background-color: var(--darkgreycst);
	opacity : 1;
	text-align: center;
}

/* Paragraphes */
p{
	color: var(--blackcst);
	font-size: 1.2em;
	font-family: RRegular, arial;
	text-align: justify;
	padding-left: 2.5%;
	padding-right: 2.5%;
}

p.footer{
	text-align: center;
	font-size: 0.8em;
}

table{
border-collapse: collapse;
width: 95%;
margin: auto;
}

th, td{
border: 2px solid var(--blackcst);
text-align: center;
vertical-align: middle;
padding: 10px;
}

th {
	background-color: var(--bluecst);
	font-size: 1.2em;
	color: var(--whitecst)
}


/* Pour avoir une ligne sur deux grise dans les tableau */
table tr:nth-child(odd){
  background-color:var(--lightgreycst);
}

/* Formulaire_login */

#formulaire{
	margin-top : 30px;
	display: flex;
	justify-content: center;
}


#form-input-login{
	font-size: 1em;
	margin-top: 10px;
}

#form-remerberme-label{
	font-size: 0.7em;
}

#form-remerberme-submit{
	font-size: 0.7em;
	padding: 10px;
	color: var(--whitecst);
	background-color: var(--greencst);
	border: none;
	border-radius: 5%;
}

#form-error{
	font-size: 0.7em;
	color: var(--redcst);
}

/*Formulaire pour créer un utilisateur*/

#form-newuser-label{
	font-size: 1.0em;
}

#form-newuser-submit{
	font-size: 1.0em;
	padding: 10px;
	color: var(--whitecst);
	background-color: var(--greencst);
	border: none;
	border-radius: 5%;