{% extends "base.html" %}

{% block content %}

    <h1>Connexion</h1>
    <div id=formulaire>
        <form action="" method="post" novalidate>
        	{{ form.hidden_tag() }}
        	<p>
        		{{ form.username.label }} </br>
        		{{ form.username(id="form-input-login", size=32)}}</br>
                {% for error in form.username.errors %}
                <span id="form-error"> [{{ error }}]</span>
                {% endfor %}
        	</p>
        	<p>
        		{{ form.password.label }} </br>
        		{{ form.password(id="form-input-login", size=32) }}</br>
                {% for error in form.password.errors %}
                <span id="form-error"> [{{ error }}]</span>
                {% endfor %}
        	</p>
        	<p>{{ form.remember_me() }} {{form.remember_me.label(id="form-remerberme-label") }}</p>
        	<p>{{ form.submit(id="form-remerberme-submit") }}</p>
        </form>
    </div>
    
{% endblock %}