<!DOCTYPE html>
<html>
<head>
	{% if title %}
	<title>{{ title }} - SYP</title>
	{% else %}
	<title>Bienvenue sur SYP</title>
	{% endif %}
	<link rel="stylesheet" type="text/css" href="../static/styles/styles.css">
	<meta charset="utf-8">
</head>


<body>

	<header>
		<img class="logo_page" src="../static/images/logo.png" alt="logo du logiciel">
	</header>


	<div id="navigation">
		<nav class="menu-nav">
			<ul>
				<li class="btn"><a href="{{ url_for('main_blueprint.index') }}">Accueil</a></li>
				<li class="btn"><a href="Aide.html">Aide</a></li>
			</ul>
		</nav>

		<nav class="menu-nav-right">
			<ul>
				{% if current_user.is_anonymous %}
				<li class="btn-right-conn"><a href="{{ url_for('auth_blueprint.auth') }}">Connexion</a></li>
				{% else %}
				<li class="btn"><a href="{{ url_for('agent_blueprint.mes_affaires') }}">Mes Affaires</a></li>
				<li class="btn"><a href="{{ url_for('manager_blueprint.manager') }}">Gérer les Utilisateurs</a></li>
				<li class="btn-right-deco"><a href="{{ url_for('auth_blueprint.logout') }}">Déconnexion</a></li>
				{% endif %}
			</ul>
		</nav>
	</div>

	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}

	{% block content %}

	{% endblock %}

	<footer>
		<p class="footer">Copyright Puffin</p>
	</footer>

</body>
</html>