{% extends "base.html" %}

{% block content %}
	
	<h1>Bienvenue sur SYP !</h1>
	
	<p>Le logiciel SYP (Sql PYthon) permet de répartir facilement les contentieux entre les agents d'un SIP qu'ils soient en télétravail ou en présentiel</p>

	<p>Pour apprendre à utiliser SYP, veuillez consulter la rubrique "Aide"</p>

	<p>Pour commencer utiliser SYP, connectez vous !</p>

	<h1>Nombre d'affaires en cours</h1>

	<p> TODO : faire un tableau avec le nombre d'affaire par agent + nombre d'affaires non attribuées</p>

{% endblock %}
